<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/vue.js"></script>
    <title>エアガイツ 魔術ギルド 1番受付</title>
</head>
<body>
    <h1>エアガイツ 魔術ギルド 1番受付</h1>
    <input type="button" value="更新" onclick="load_datas();">
    <input type="button" value="全削除" onclick="delete_datas();">
    <div id="request">
        <h2>依頼一覧</h2>
        <li v-for="request in requests">
            {{ request.name }}
        </li>
        <h4>登録する依頼を入力して下さい</h4>
        <input type="text" v-model="newRequest" placeholder="依頼名"><br>
        <input type="button" v-bind:disabled="!canAdd" v-on:click.prevent="addRequest" value="登録">
    </div>
    <script language="javascript" type="text/javascript" src="js/localStorage.js"></script>
</body>
</html>
